:root {
  --theme-color: rgb(19, 18, 18);
  --opacity: 0.7;
  --opacity-small: 0.7;
  --theme-color-opacity: rgb(19, 18, 18, var(--opacity));
  --theme-color-opacity-small: rgb(19, 18, 18, var(--opacity-small));
  --pri-color: green;
  --pri-color-opacity: rgba(0, 128, 0, var(--opacity));
  --text-color: whitesmoke;
  --spacing: 2em;
  --spacing-small: 0.7em;
  --rounded: 5px;
  --medium-breakpoint: 500px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .music-data {
  display: flex;
  flex-direction: column;
  position: relative;
} */
.late {
  /* width: fit-content; */
  /* background-color: green; */
  /* border-bottom: 2px solid green;
  padding: .5em;*/
  border-right: 25px solid transparent;
  border-bottom: 45px solid green;
  /* border-top: 45px solid green; */
  /* border-left: 30px solid transparent; */
  /* border-right: 30px solid transparent; */
  height: 0;
  width: 200px;
  margin-left: 1.5em;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}

.late-music {
  font-size: 1.05rem;
  font-weight: 500;
  padding: 1.6rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.music-sec {
  margin-bottom: 4em;
}

.music-sec ul {
  list-style-type: none;
}

.music-data {
  height: 20vh;
  position: relative;
  flex-basis: 1px;
}

.image-box {
  position: relative;
}

.recent h2 {
  background-color: green;
  width: fit-content;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song {
  align-self: flex-end;
}

.details {
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 0 0 0.5em 0.5em;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: capitalize;
  background-image: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
}

.next-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.next {
  color: whitesmoke;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
  font-size: small;
}

@media screen and (min-width: 162px) {
  .music-sec ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.6em;
    padding: 0.5em 0.5em;
  }

  .late {
    border-right: 25px solid transparent;
    border-bottom: 40px solid green;
    height: 0;
    width: 150px;
    margin-left: 0.26em;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
  }

  .late-music {
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 1rem 10rem 0.8rem;
  }
}

@media screen and (min-width: 320px) {
  .music-sec ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6em;
    padding: 0.5em 0.5em;
  }

  .late {
    border-right: 25px solid transparent;
    border-bottom: 40px solid green;
    height: 0;
    width: 150px;
    margin-left: 0.3em;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
  }

  .late-music {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.8rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 520px) {
  .music-sec ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6;
    padding: 0.5em 0.5em;
    /* margin-left: 1.5em; */
  }

  .late {
    border-right: 25px solid transparent;
    border-bottom: 45px solid green;
    height: 0;
    width: 175px;
    margin-left: 0.3em;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
  }

  .late-music {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1.3rem;
  }

  .music-sec {
    flex-basis: 50%;
  }

  .recent {
    flex-basis: 50%;
  }

  .recent header {
    display: flex;
    justify-content: center;
  }

  .recent h2 {
    text-align: center;
  }

  main {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .music-sec ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6;
    padding: 0.5em 0.5em;
  }
  
  .music-sec {
    flex-basis: 50%;
    margin-left: 1.5em;
  }

  .music-data {
    height: 30vh;
    position: relative;
    flex-basis: 1000px;
  }

  .details {
    font-size: 1rem;
  }

  .late {
    border-right: 25px solid transparent;
    border-bottom: 45px solid green;
    height: 0;
    width: 200px;
    margin-left: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
  }

  .late-music {
    font-size: 1.05rem;
    font-weight: 500;
    padding: 1.6rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
}
